#timer {
  position: relative;
  z-index: 1;
  font-family: Paytone One;
  font-size: 52px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.99);
}
